@font-face {
  font-family: 'Arizonia';
  src: url('fonts/Arizonia-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Milonga';
  src: url('fonts/Milonga-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0px;

  font-family: "Raleway", sans-serif;

  color: #eee;
  background: black;
}

nav {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  gap: 20px;

  list-style: none;
}

nav ul li {
  flex: 1;

  font-family: "Arizonia", cursive;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #f9d48f;
}


h1, h2 {
  font-family: "Arizonia", cursive;
  font-weight: bold;

  text-shadow: 1px 1px 2px rgba(163, 111, 51, 0.3);
  background: repeating-linear-gradient(
      90deg,
      #a36f33 0%,
      #d6993c 10%,
      #f9d48f 20%,
      #fff4cc 30%,
      #d6993c 40%,
      #a36f33 50%
    ); 
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.1s ease-out;
  will-change: background-position;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-family: "Milonga", sans-serif;
}

h3:nth-of-type(3n + 1) {
  color: #336d57;
}

h3:nth-of-type(3n + 2) {
  color: #9a3172;
}

h3:nth-of-type(3n + 3) {
  color: #123579;
}

section {
  padding: 20px;
  min-height: 80vh;
  max-width: 800px;
  margin: auto;
}

section#main {
  display: flex;
  flex-direction: column;

  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0)), url('images/yellow.jpg') no-repeat top center black;
}

section#main h1 {
  flex-grow: 0;
}
section#main nav {
  flex-grow: 0;
}
section#main .description {
  flex-grow: 1;
  align-content: end;
}

.description p {
  float: bottom;

  max-width: 600px;
  padding: 10px;
  margin: auto;

  background: rgba(0,0,0, 0.8);
}


section#photos {
  background: url('images/teaching.jpg') no-repeat top center color(srgb 0.0083 0.0455 0.0534);
}

form input,
form textarea {
  display: block;
  width: 100%;
  max-width: 600px;
}

fieldset {
  border: none;
}

button,
input[type=submit] {
  width: auto;
  padding: 6px;

  cursor: pointer;

  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 14px;

  background: #3685aa;
  color: #eee;

  border: 1px solid #5899cc; 
}
