@font-face {
  font-family: 'Arizonia';
  src: url('fonts/Arizonia-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Milonga';
  src: url('fonts/Milonga-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src: url('fonts/Raleway.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0px;

  font-family: "Raleway", sans-serif;

  color: #eee;
  background: black;
}

nav {
  margin: auto;
  width: 100%;
  max-width: 800px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  flex: 1;

  font-family: "Arizonia", cursive;
}

nav ul li a {
  text-decoration: none;
  font-size: 30px;
  color: #f9d48f;
}


h1, h2 {
  font-family: "Arizonia", cursive;
  font-weight: bold;

  text-shadow: 1px 1px 2px rgba(163, 111, 51, 0.3);
  background: repeating-linear-gradient(
      90deg,
      #a36f33 0%,
      #d6993c 10%,
      #f9d48f 20%,
      #fff4cc 30%,
      #d6993c 40%,
      #a36f33 50%
    ); 
  background-size: 300% auto;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.1s ease-out;
  will-change: background-position;
}

h1 {
  text-align: center;
  font-size: 50px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-family: "Milonga", sans-serif;
}

h3:nth-of-type(3n + 1) {
  color: #336d57;
}

h3:nth-of-type(3n + 2) {
  color: #9a3172;
}

h3:nth-of-type(3n + 3) {
  color: #123579;
}

section {
  padding: 20px;
  min-height: 80vh;
  max-width: 800px;
  margin: auto;
}

section#performance {
  background: url('images/yellow.jpg') no-repeat top center black;
}

section#photos {
  background: url('images/teaching.jpg') no-repeat top center color(srgb 0.0083 0.0455 0.0534);
}
